<body>
  <h1 translate>int.title</h1>
  <div class="interet">
    <div>
      <app-side-menu></app-side-menu>
    </div>
    <div class="section-body">
      <div class="grid">
        <ul id="hexGrid">
          <li class="hex">
            <div class="hexIn">
            </div>
          </li>

          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/music.png);'>
                </div>
                <p id="demo2" translate>int.music</p>
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/instant-camera.png);'>
                </div>
                <p id="demo2" translate>int.photo</p>
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/game-soccer.png);'>
                </div>
                <p id="demo2" translate>int.sport</p>
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
                <a id="hexCenter" class="hexLink">
                    <p id="demo2" translate></p>
                </a>
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/food.png);'>
                </div>
                <p id="demo2" translate>int.cook</p>
              </a>
            </div>
          </li>

          <li class="hex">
            <div class="hexIn">
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/hearts.png);'>
                </div>
                <p id="demo2" translate>int.asso</p>
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink">
                <div class='img'
                  style='background-image: url(https://img.icons8.com/clouds/2x/starred-ticket.png);'>
                </div>
                <p id="demo2" translate>int.film</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
