<div class="nav-side-bar">
  <nav>
    <ul class="menu" id="sideBarMenu">
      <li>
        <a class="nav-elmt" routerLink="">
          <i id="sideHome" class="fa fa-home"></i>
          <span translate hidden>home</span>
        </a>
      </li>
      <li>
        <a class="nav-elmt" routerLink="/work-experience">
          <i id="sideExp" class="fa fa-briefcase"></i>
          <span translate hidden>nav.exp</span>
        </a>
      </li>
      <li>
        <a class="nav-elmt" routerLink="/education">
          <i id="sideForm" class="fa fa-graduation-cap"></i>
          <span translate hidden>nav.form</span>
        </a>
      </li>
      <li>
        <a class="nav-elmt" routerLink="/skills">
        <i id="sideComp" class="fa fa-wrench"></i>
        <span translate hidden>nav.comp</span>
      </a></li>
      <li>
        <a class="nav-elmt" routerLink="/hobbies">
          <i id="sideInt" class="fa fa-heart"></i>
          <span translate hidden>nav.int</span>
        </a>
      </li>
      
    </ul>
  </nav>
</div>
