<body>
  <div class="cvActions" id='cvActions'>
    <button class="btn printBtn" (click)=[printCv()] translate><i class="fa fa-print"></i>cv.print</button>
  </div>
  <div id="cvHtml">
    <div class="leftCv">
      <div class="contacts">
        <div class="phone">
          <i class="fa fa-mobile"></i>
          <span>06.27.63.35.05</span>
        </div>
        <div class="linkedin">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          <span href="http://www.linkedin.com/in/audrey-tordjmann" style="cursor:pointer">linkedin.com/in/audrey-tordjmann</span>
        </div>      
		    <div class="mail">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>tordjmann.audrey@gmail.com</span>
        </div>
        <div class="website">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span>atordjmann.perso.centrale-marseille.fr</span>
        </div>
      </div>
      <div class="about-me">
        <h2 translate>cv.aboutme.title</h2>
        <p translate>cv.aboutme.text</p>
      </div>
      <div class="name">
        <h1>Audrey Tordjmann</h1>
      </div>
      <div class="project">
        <h2 translate>cv.project.title</h2>
        <div class="project-1">          
          <h3 translate><i class="fa fa-code"></i>cv.project.resume.title</h3>
          <p translate>cv.project.resume.text</p>
        </div>
        <div class="project-2">
          <h3 translate><i class="fa fa-code"></i>cv.project.job.title</h3>
          <p translate>cv.project.job.text</p>  
        </div>
      </div>
      <div class="hobbies">
        <h2 translate>int.title</h2>
        <div class="hobbies-icons">
          <i class="fa fa-running"></i>
          <i class="fa fa-camera-retro"></i>
          <i class="fa fa-music"></i>
          <i class="fa fa-utensils"></i>
          <i class="fa fa-heart"></i>
          <i class="fa fa-film"></i>
        </div>
        <div class="hobbies-title">
          <span translate>int.sport</span>
          <span translate>int.photo</span>
          <span translate>int.music</span>
          <span translate>int.cook</span>
          <span translate>int.asso</span>
          <span translate>int.film</span>
        </div>        
      </div>
    </div>    
    <div class="rightCv">
      <div class="work">
        <h2 translate>exp.title</h2>
        <div class="sopra">
        <ul>
          <li><b translate>exp.sopra.date</b></li>
          <li><h3 translate><i class="fa fa-briefcase"></i>exp.sopra.title</h3></li>
          <li>
            <ul>              
              <li><b translate>exp.sopra.fonction</b></li>
              <li><p translate>exp.sopra.line1</p></li>
              <li><p translate>exp.sopra.line2</p></li>
              <li class='italic'><p translate>exp.sopra.line3</p></li>
            </ul>
          </li>
        </ul>  
      </div>
        <div class="sncf">
          <ul>
            <li><b translate>exp.sncf.date</b></li>
            <li><h3 translate><i class="fa fa-briefcase"></i>exp.sncf.title</h3></li>
            <li>
              <ul>
                <li><b translate>exp.sncf.fonction</b></li>
                <li><p translate>exp.sncf.line1</p></li>
                <li><p translate>exp.sncf.line2</p></li>
                <li><p translate>exp.sncf.line3</p></li>
                <li class='italic'><p translate>exp.sncf.line4</p></li>
              </ul>
            </li>
          </ul>         
        </div>
      </div>
      <div class="education">
          <h2 translate>form.title</h2>
          <div class="centrale">
            <ul>
              <li><b translate>form.centrale.date</b></li>
              <li><h3 translate><i class="fa fa-graduation-cap"></i>form.centrale.title</h3></li>
              <li>
                <ul>                  
                  <li><b translate>form.centrale.diploma</b></li>
                  <li><p translate>form.centrale.line1</p></li>
                  <li><p translate>form.centrale.line2</p></li>
                  <li><p translate>form.centrale.line3</p></li>
                </ul>
              </li>
            </ul>            
          </div>
          <div class="cpge">
            <ul>
              <li><b translate>form.prepa.date</b></li>
              <li><h3 translate><i class="fa fa-graduation-cap"></i>form.prepa.title</h3></li>
              <li>
                <ul>
                  <li><b translate>form.prepa.diploma</b></li>
                  <li><p translate>form.prepa.text</p></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="lycee">
            <ul>
              <li><b translate>form.lycee.date</b></li>
              <li><h3 translate><i class="fa fa-graduation-cap"></i>form.lycee.title</h3></li>
              <li>
                <ul>
                  <li><b translate>form.lycee.diploma</b></li>
                  <li><p translate>form.lycee.text</p></li>
                </ul>
              </li>
            </ul> 
          </div>
        </div>
        <div class="skills">
          <h2 translate>skills.title</h2>
          <img src="../../../assets/images/skills.png">
        </div>
        <div class="languages">
          <h2 translate>lang.title</h2>
          <p translate>lang.fr</p>
          <p translate>lang.en</p>
          <p translate>lang.es</p>
        </div>
    </div>
  </div>
</body>