<body>
  <h1 translate>exp.title</h1>
  <div class="exp">
    <app-side-menu></app-side-menu>
    <div class="timeline">
      <div class="entry">
        <div class="title">
          <a href="http://www.soprasteria.com" target="_blank" title="Site web de Sopra Steria">
            <h2>Sopra Steria</h2>
          </a>
          <h3 translate>exp.sopra.date</h3>
          <p translate>exp.sopra.fonction</p>
        </div>
        <div class="body">
          <p translate>exp.sopra.line1</p>
          <p translate>exp.sopra.line2</p>
          <p translate>exp.sopra.line3</p>
        </div>
      </div>
      <div class="entry">
        <div class="title">
          <a href="http://www.sncf.com" target="_blank" title="Site web de la SNCF">
            <h2>SNCF Mobilité</h2>
          </a>
          <h3 translate>exp.sncf.date</h3>
          <p translate>exp.sncf.fonction</p>
        </div>
        <div class="body">
          <p translate>exp.sncf.line1</p>
          <p translate>exp.sncf.line2</p>
          <p translate>exp.sncf.line3</p>
          <p translate>exp.sncf.line4</p>
        </div>
      </div>
    </div>
  </div>
</body>
