<body>
  <h1 translate>exp.title</h1>
  <div class="exp">
    <app-side-menu></app-side-menu>
    <div class="timeline">
      <div *ngFor="let elmt of experience">
          <div class="entry">
              <div class="title">
                <a href="{{elmt.website}}" target="_blank" title="{{elmt.titleweb}}">
                  <h2>{{elmt.cie}}</h2>
                </a>
                <h3 translate>{{elmt.data}}.date</h3>
                <p translate>{{elmt.data}}.fonction</p>
              </div>
              <div class="body">
                <p translate>{{elmt.data}}.line1</p>
                <p translate>{{elmt.data}}.line2</p>
                <p translate>{{elmt.data}}.line3</p>
              </div>
            </div>
      </div>      
    </div>
  </div>
  <h1 translate>proj.title</h1>
  <div class="exp">
    <div class="timeline">
  <div *ngFor="let elmt of projet">
      <div class="entry">
          <div class="title">
            <a>
              <h2 translate>{{elmt}}.title</h2>
            </a>
            <p><a target="_blank" href="https://github.com/atordjmann/treeview" *ngIf="elmt === 'proj.treeview'">on Git</a></p>
            <p><a target="_blank" href="https://github.com/atordjmann/DocElasticStack" *ngIf="elmt === 'proj.elastic'">on Git</a></p>
          </div>
          <div class="body">
            <p translate>{{elmt}}.desc</p>
          </div>
        </div>
        </div>
        </div>
  </div>
</body>
