<body>
  <h1 translate>form.title</h1>
  <div class="form">

    <app-side-menu></app-side-menu>

    <div class="timeline">
      <div class="entry">
        <div class="title">
          <a href="http://www.centrale-marseille.fr" target="_blank" title="Site web de Centrale Marseille">
            <h2>Centrale Marseille</h2>
          </a>
          <h3 translate>form.centrale.date</h3>
          <p translate>form.centrale.diploma</p>
        </div>
        <div class="body">
          <p translate>form.centrale.line1</p>
          <p translate>form.centrale.line2</p>
          <p translate>form.centrale.line3</p>
        </div>
      </div>
      <div class="entry">
        <div class="title">
          <a>
            <h2>CPGE Lycée Thiers</h2>
          </a>
          <h3 translate>form.prepa.date</h3>
          <p translate>form.prepa.diploma</p>
        </div>
        <div class="body">
          <p translate>form.prepa.text</p>
        </div>
      </div>
      <div class="entry">
        <div class="title">
          <a>
            <h2>Lycée St Joseph de la madeleine</h2>
          </a>
          <h3 translate>form.lycee.date</h3>
          <p translate>form.lycee.diploma</p>
        </div>
        <div class="body">
          <p translate>form.lycee.text</p>
        </div>
      </div>
    </div>
  </div>
</body>
