<div class="modal-wrapper" id="modal-wrapper">
	<div class="modal">
	  <div class="head">
		<a class="btn-close trigger" id="closeContact">
		  <i (click)="closeModal()" class="fa fa-times" aria-hidden="true"></i>
		</a>
	  </div>
	  <div class="content">
		<h1>Audrey Tordjmann</h1>
		<div class="contactLine"><i class="fa fa-home"></i><span>13004 Marseille</span></div>
		<div class="contactLine"><i class="fa fa-mobile"></i><span>06.27.63.35.05</span></div>  
		<div class="contactLine"><i class="fab fa-linkedin" aria-hidden="true"></i><span href="http://www.linkedin.com/in/audrey-tordjmann" style="cursor:pointer">linkedin.com/in/audrey-tordjmann</span></div>      
		<div class="contactLine"><i class="fa fa-envelope" aria-hidden="true"></i><span>tordjmann.audrey@gmail.com</span></div>
		<div class="contactLine"><i class="fab fa-github" aria-hidden="true"></i><span href="github.com/atordjmann" style="cursor:pointer">github.com/atordjmann</span></div>
	  </div>
	</div>
</div>